# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# users listed below will be requested for
# review when someone opens a pull request.
*       @a711082_fidelity @a656803_fidelity @a783258_fidelity
