/**
 * @copyright 2020-2021, FMR LLC
 * @file Parent style for Help and Learning
 * @author Preeti Chaurasia (a634796)
 */

$pvd-enable-helios-styles: false;
$fd-include-fonts: false;
$include-pvd2-global-styles: false;

// You can add global styles to this file, and also import other style files
@import '@fmr-ap109253/providence/dist/scss/pvd-title/pvd-title';
@import '@fmr-ap109253/providence/dist/scss/pvd-field-group/pvd-field-group';
@import '@fmr-ap109253/providence/dist/scss/pvd-select/pvd-select';
@import '@fmr-ap109253/providence/dist/scss/pvd-button/pvd-button';
@import '@fmr-ap109253/providence/dist/scss/pvd-link/pvd-link';
@import '@fmr-ap109253/providence/dist/scss/pvd-icon/pvd-icon';
@import '@fmr-ap109253/providence/dist/scss/pvd-label/pvd-label';
@import '@fmr-ap109253/providence/dist/scss/pvd-footnotes/pvd-footnotes';
@import '@fmr-ap109253/providence/dist/scss/pvd-alert/pvd-alert';
@import '@fmr-ap109253/providence/dist/scss/pvd-expand-collapse/pvd-expand-collapse';
@import '@fmr-ap109253/providence/dist/scss/pvd-spinner/pvd-spinner.scss';
@import 'app/sass/overrides';

// Below line enables CSS grid layout support in Autoprefixer (needed for IE11)
// you must add this to every component scss where you use grid layout
/*! autoprefixer grid: autoplace */

body,
a {
    font-family: $pvd-font-family-sans;
}

* {
    box-sizing: border-box;
}

.pvd-footnotes-root.pvd-footnotes--background-light-gray::before {
    height: 0;
}

a:focus {
    color: #000000;
    outline: dotted 1px #000000;
    outline-color: rgb(0, 0, 0);
    outline-style: dotted;
    outline-width: 1px;
}
